.total_balance {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 17px;
	border-radius: 20px;
	background-color: #fff;
	padding: 20px;
	margin-right: 20px;
}

.buttons {
	font-size: 18px;
	margin: 0px 10px;
	background-color: #f5f5f5;
	border: none;
	border-radius: 50px;
	padding: 13px 10px;
	width: 130px;
}

.price {
	font-size: 60px;
	font-weight: 600;
	margin: 20px 0;
}

#send {
	background-color: #6e468f;
	color: #fff;
}
