.transactions {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 17px;
	border-radius: 20px;
	background-color: #fff;
	padding: 20px;
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
