@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.card {
	border-radius: 20px;
	font-size: 20px;
	background-color: #000;
	color: #fff;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 10px 8px;
}

.card {
	border-radius: 20px;
	font-size: 20px;
	background-color: #071638;
	color: #fff;
	height: 140px;
	width: 250px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 30px;
	transition: 3s ease;
	box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5);
}
.info {
	display: flex;
	justify-content: space-between;
}

.expiry {
	font-size: 15px;
	border-radius: 4px;
	padding: 2px;
	text-align: center;
	min-height: 18px;
}

.expiry_active {
	border: 1px solid #980000;
}

#cardholder,
#expiry_text {
	color: #ffffffb9;
	margin-bottom: 5px;
	font-size: 12px;
}

#numbers {
	min-height: 25px;
	font-family: 'Orbitron', sans-serif;
	margin-bottom: 20px;
	font-size: 18px;
}

.details {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inputs {
	width: 95%;
	margin: 10px 0;
	font-size: 17px;
	padding: 5px;
	border-radius: 8px;
	transition: border-color 0.4s ease;
	border: 0.1px solid #00000039;
}

.f_row {
	align-items: center;
	font-size: 20px;
	margin-bottom: 15px;
}

.l_row,
.f_row {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#date,
#cvv {
	width: 50px;
}

.inputs:focus {
	outline: none;
	border: 1.7px solid cyan;
}

.submit {
	color: #fff;
	background-color: cyan;
	width: 100%;
	transition: 0.7s ease;
	font-size: 22px;
	font-weight: bold;
	padding: 7px;
	border: none;
	border-radius: 20px;
}

.submit:hover {
	transform: scale(1.025);
	box-shadow: 0 0 10px cyan;
}

@keyframes flipFront {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes flipBack {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	51% {
		opacity: 0.2;
	}
	53% {
		opacity: 0.2;
	}
	55% {
		opacity: 0.4;
	}
	75% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
	}
}

.back_animation {
	perspective: 1000px;
	transform-style: preserve-3d;
	transform: rotateY(180deg);
}

.text_visible {
	animation: flipFront 3s ease;
	opacity: 0;
}
.default {
	transition: 3s ease;
}

.back_side {
	opacity: 0;
	transition: 3s ease;
	position: absolute;
}

.black_line {
	position: absolute;
	left: -20px;
	width: 290px;
	height: 45px;
	background-color: #000;
}

.back_visible {
	opacity: 1;
	animation: flipBack 3s ease;
}

.chip_line {
	position: absolute;
	top: 60px;
	left: 80px;
	border-radius: 5px;
	width: 170px;
	height: 30px;
	background-image: repeating-linear-gradient(
		to bottom,
		#9e9f9f,
		#9e9f9f 5px,
		#c4c4c4 5px,
		#c4c4c4 9px
	);
}

.cvv_field {
	transform: scaleX(-1);
	position: absolute;
	top: 60px;
	min-height: 24px;
	width: 30px;
	background-color: #fff;
	border-radius: 5px;
	padding: 3px 8px;
	color: #000;
	font-size: 18px;
	font-weight: bold;
}
