.sidebar {
	border-radius: 20px;
	background-color: #fff;
	margin-bottom: 20px;
	width: 100%;
}

.image {
	background-image: url('/creditcard.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 300px;
}

.sidebar_menu {
	padding: 30px;
}

.sidebar_text {
	display: flex;
	justify-content: space-between;
}

.action_list {
	text-decoration: none;
}

ul {
	list-style: none;
}

.icons {
	padding: 10px;
	width: 40px;
	margin-right: 10px;
}

.actions {
	display: flex;
	align-items: center;
	width: 100%;
	transition: 0.7s ease;
}

.links {
	display: block;
	width: 125px;
}

.arrows {
	position: relative;
	left: 165px;
}

.actions:hover {
	/*animation-name: bg;
	animation-duration: 2s;*/
	transition: 0.7s ease;
	transform: translate(-10px, -10px);
	cursor: pointer;
}

.buttons_list {
	display: flex;
	justify-content: center;
}

.button {
	transition: 0.7s ease;
	font-size: 24px;
	font-weight: 500;
	padding: 15px;
	margin: 20px;
	border: none;
	border-radius: 50px;
	width: 200px;
	height: 70px;
}

.button:hover {
	transition: 0.7s ease;
	transform: scale(1.1);
}

#add {
	color: #fff;
	background-color: #6e468f;
}

#remove {
	color: #ec290d;
	background-color: #fef2f1;
}

/*Придумати щось круте, анімацію*/
@keyframes bg {
	from {
		background-color: aqua;
	}
	to {
		background-color: blue;
	}
}
