.contacts {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 17px;
	border-radius: 20px;
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
}

.info {
	display: flex;
	justify-content: space-between;
}

.contacts_list {
	margin-top: 10px;
	display: flex;
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 20px;
}
