@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.logo {
	width: 80px;
	height: 60px;
	border-radius: 50px;
}

.account_text {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 17px;
	margin: 10px 20px 10px 30px;
}
.account {
	height: 60px;
	align-items: center;
	background-color: #ffffff;
	display: flex;
	border-radius: 50px;
}

.account_image {
	width: 50px;
	border-radius: 50px;
	margin: 0px 5px 0px 20px;
}

.navigation_bar {
	font-family: 'Roboto Condensed', sans-serif;
	height: 60px;
	align-items: center;
	display: flex;
	background-color: #ffffff;
	border-radius: 50px;
}

.nav_button {
	font-size: 17px;
	margin: 10px 50px;
}

.notActive {
	font-size: 17px;
	margin: 10px 50px;
}

.active {
	font-size: 17px;
	margin: 10px 50px;
	font-weight: 600;
}
