body {
	margin: 0px;
	background-color: #fcd3d3;
}

wrapper {
	margin: 30px 40px;
}

header {
	color: #141618;
	display: flex;
	max-height: 80px;
	align-items: center;
	justify-content: center;
	width: 100%;
}

a {
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 17px;
}

h1 {
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
}

p {
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
}
button {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 17px;
}
